<footer>
<p>
  Site template by <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a>
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
