<header>
  <ul class="nav">
    <li>
      <a href="/">home</a>
    </li>
    <li>
      <a href="/usage">usage</a>
    </li>
    <li>
      <a href="https://github.com/kaitmore/snippet/releases" target="_blank">download ↗</a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
