<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="container">
      <img id="logo" src="./images/logo.png"/>
      <h1>
        {{ title }}
      </h1>
      <div class="content">
        <h4>{{ subtitle }}</h4>

        {{ content | safe }}
        <a target="_blank" href="https://github.com/kaitmore/copypasta-releases/releases/latest">
          <button>Download for Free!</button>
        </a>
      </div>
      <div id="vid-container">
        <video id="demo" autoplay loop>
          <source src="./images/demo.mp4" type="video/mp4" >
  Sorry, your browser does not support HTML5 video.
</video>
      </div>
      {# <img src="./images/demo.gif" id ="demo"/> #}
      {% include "footer.njk" %}
    </div>

    <script src="https://js.stripe.com/v3"></script>
    {% set js %}
    {% include "js/checkout.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  </body>
</html>
